[submodule "vendor/SDL"]
	path = vendor/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/TyS004/imgui.git
	branch = docking
[submodule "vendor/assimp"]
	path = vendor/assimp
	url = https://github.com/assimp/assimp.git
[submodule "vendor/libdragon"]
	path = vendor/libdragon
	url = https://github.com/DragonMinded/libdragon.git
	ignore = dirty
[submodule "vendor/tiny3d"]
	path = vendor/tiny3d
	url = https://github.com/HailToDodongo/tiny3d.git
